<div class="layout layout--col gap--space-between">
  <div class="grid grid--cols-2 gap">
    {% for sensor in sensors %}
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--tnums">{% render "temp", c: sensor.temperature %}</span>
          <span class="label label--small">{{ sensor.name }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">YoLink Temperature</span>
  <span class="instance">{{ trmnl.plugin_settings.custom_fields_values.subtitle_string }}</span>
</div>